*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

p, label {
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn {
    to {
        top: 15%;
        opacity: 1;
    }
}

@keyframes scaleRight {
    to {
        transform: scaleX(1)
    }
}

@keyframes scaleUp{
    to {
        transform: scaleX(1)
    }
}

@keyframes lineDown {
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown{
    0% {
        bottom: 25px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 5px;
        opacity: 0;
    }
}

@keyframes skeletonBlur {
    to {
        background-position: 250% -150px;
    }
}

@keyframes topbarBg {
    from {
        background: transparent;
    }

    to {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }
}

@keyframes logoShorten {
    from {
        top: 0;
     }

    to {
       top: -28px;
    }
}

@keyframes logoBig {
    from {
        top: -28px;
     }

    to {
       top: 0;
    }
}

.jl-trigger-topbar {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    top: 130px;
    background:transparent;
}

.border-top-left, .border-bottom-right  {
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;    
    z-index: 800;
}

.border-top-left {
    top: 0;
    left: 0;
}

.border-bottom-right {
    bottom: 0;
    right: 0;
}

.border-top-left:before, .border-top-left:after  {
    content: '';
    display: block;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
}

.border-top-left:before {
    width: 30px;
    height: 100vh;
}

.border-top-left:after {
    width: 100vw;
    height: 30px;
}


.border-bottom-right:before, .border-bottom-right:after  {
    content: '';
    display: block;
    background-color: #000;
    position: fixed;
    bottom: 0;
    right: 0;
}

.border-bottom-right:before {
    width: 30px;
    height: 100vh;
}

.border-bottom-right:after {
    width: 100vw;
    height: 30px;
}


@media screen and (min-width: 320px){

    .jl-page-wrapper, .jl-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .jl-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }

    .jl-preloader-inner {
        margin-top: -45px;
    }

    .jl-overlay, .jl-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed; 
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(44, 203, 105, 0.95);
    }

    .jl-modal {
        width: 90%;
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: absolute;
        top: -100%;
        left: 5%;
        right: 5%;
        margin: 0 auto;
        z-index: 1200;
        opacity: 0;
    }

    .jl-modal-header, .jl-modal-body, .jl-form {
        width: 100%;
        display: table;
        position: relative;
    }

    .jl-modal-header h1 {
        line-height: 28px;
    }

    .jl-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
        background-color: #2f2f2f;
    }

    .jl-form label {
        margin-bottom: 3px;
        font-size: 14px;
        display: inline-block;
    }

    .jl-field, .jl-textarea {
        width: 100%;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 16px;
        text-indent: 15px;
        margin-bottom: 7px;
    }

    .jl-field {
        height: 45px;
    }


    .jl-topbar {
        width: 100%;
        height: 110px;
        display: block;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
        transition: all 0.2s ease-out;
    }

    .jl-topbar-bg {
        animation: topbarBg 0.2s ease-out forwards;
    }

    .jl-logo {
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius: 0 0 37px 0;
        transition: all 0.2s ease-out;
        position: relative;
    }

    .jl-logo-big {
        animation: logoBig 0.2s ease-out forwards;
    }

    .jl-logo-shorten {
        animation: logoShorten 0.2s ease-out forwards;
    }

    .jl-logo img {
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0 auto;
    }

    .jl-menu {
        display: none;
    }

    .jl-btn-menu-mob{
        width: 54px;
        height: 54px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #2CCB69;
        color: #000;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1250;
        cursor: pointer;
    }

    .jl-btn-menu-mob ion-icon{
        vertical-align: middle;
    }

    .jl-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1200;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .jl-menu-is-open {
        right: 0;
    }

    .jl-menu-is-closed {
        right: -240px;
    }
       
        
    .jl-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
    }

    .jl-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }    

    .jl-contact-info {
        width: 245px;
        height: 165px; 
        padding: 25px;
        position: fixed;
        bottom: 115px; 
        right: 65px;
        z-index: 200;   
        display: none;   
    }

    .jl-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .jl-social-links, .jl-social-links-circle {
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
        margin-top: 7px;
    }

    .jl-social-links-circle {
        left: 0;
    }

    .jl-social, .jl-social-links-circle .jl-social {
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .jl-social-links-circle .jl-social{
        border-radius: 50%;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .jl-social-links-circle .jl-social ion-icon{
        height: 45px;
        transition: all 0.2s ease-out;
    }

    .jl-social-links-circle .jl-social:hover {
        background-color: #000;
    }

    .jl-social-links-circle .jl-social:hover ion-icon{
        color: #2CCB69;
    }

    .jl-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;
    }

    .jl-corner {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }

    .jl-corner:after {
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: 0;
        background: transparent url('../images/corner.svg') no-repeat;
    }

    /*----HOME----*/

    .jl-display-text {
        margin-top: 10%;
    }

    .jl-home-presentation {
        background-image: url('../images/joao-lemon-designer-home.png');
        background-repeat: no-repeat;
        background-position: 50% bottom;
        position: relative;
        background-size: 130% auto;
    }   
    
    .jl-home-presentation h1 {
        margin-top: 60px;
        text-align: center;
    }

    .jl-home-presentation p {
        text-align: center;
    }

    .jl-home-presentation .jl-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .jl-scroll-down {
        width: 70px;
        height: 135px;
        border-radius: 35px 35px 0 0;
        background-color: #2CCB69;
        display: block;        
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .jl-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .jl-arrow-down img {
        width: 16px;
        height: 10px;
        display: block;        
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
    }

    .jl-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        display: block;        
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center;
    }

     /*----HOME - PORTFOLIO ----*/

     .jl-portfolio-navigator {
         width: 68%;
         height: auto;
         display: table;
         position: absolute;
         left: 15px;
         bottom: 15px;
         z-index: 900;
     }

     .jl-navigator-counter {
         width: 100%;
         height: 90px;
         display: block;
         margin-bottom: 60px;
         position: relative;
     }

     .jl-navigator-counter:before {
         content: '';
         display: block;
         width: 35px;
         height: 100%;
         background-color: #1c1c1c;
         position: absolute;
         top: 3px;
         left: 0;
     }

     .jl-navigator-counter span {
         font-family: 'Open Sans', sans-serif;
         font-size: 120px;
         line-height: 90px;
         font-weight: 600;
     }

     .jl-item-navigator {
         width: 100%;
         display: table;
     }

     .jl-item-navigator a {
         width: 20px;
         height: 1px;
         display: block;
         margin: 0 0 80px 35px;
         background-color: #4D4C4C;
     }

     .jl-item-navigator a.jl-item-active {
        background-color: #2CCB69;
     }

     .jl-item-navigator a:last-child {
         margin-bottom: 30px;
     }

     .jl-items-next-prev {
         width: 100%;
         height: 45px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         background-color: #2C2C2C;
         border-radius: 23px;
     }

     .jl-items-next-prev > div {
         height: 32px;
     }

     .jl-items-counter {
         font-family: 'Open Sans', sans-serif;
         color: #4D4C4C;
         line-height: 32px;         
     }

     .jl-item-prev, .jl-item-next {
         width: 45px;
         color: #2CCB69;
         text-align: center;
         cursor: pointer;
     }

     .jl-items-counter span:nth-child(1){
        color: #bcbcbc;
     }

     .jl-items-counter span:nth-child(2){
        color: #4D4C4C;
     }

    ion-icon {
        font-size: 32px;
    }

    .jl-slider-container {
        display: block;
        overflow: hidden;
        padding-bottom: 120px;
    }

    .jl-slider-list {
        width: auto;
        display: block;
        list-style: none;
    }

    .jl-slider-list  .jl-portfolio-item {
        display: block;
        height: auto;
        float: left;
        margin-top: 0;
    }
    
    .jl-portfolio-list  .jl-portfolio-item {
        margin-bottom: 30px;
    }

    .jl-slider-list  .jl-portfolio-item-info{
       width: 100%;
       display: table;
       margin-top: 15px;
       position: relative;
       opacity: 0;
   }

   .jl-portfolio-list  .jl-portfolio-item-info{
        width: 100%;
   }

   .jl-slider-list .jl-portfolio-item-info p{
    text-align: center;
   }

   .jl-slider-list .jl-portfolio-item-info .jl-btn{
    margin: 0 auto;
   }

   .jl-portfolio-list {
       list-style: none;
   }

   .jl-slider-list  .jl-portfolio-item-thumb{
       width: 100%;
       display: table;
       padding: 30px 0 19px 0;
       position: relative;
   }

   .jl-portfolio-list  .jl-portfolio-item-thumb{
    width: 100%;
    display: table;
    padding: 75px 0 19px 0;
    position: relative;
}

   .jl-slider-list .jl-portfolio-item-thumb > .jl-btn{
        margin: 17px auto 0 auto;
        float: none;
   }

    .jl-portfolio-list .jl-portfolio-item-thumb > .jl-btn {
        margin: 17px auto 0 auto;
        float: none;
    }

   .jl-slider-list  .jl-portfolio-item-box{
       width: 100%;
       height: 100%;
       display: block;
       background-color: #2C2C2C;
       position: absolute;
       top: 0;
       left: 0;
       transform: scaleX(0);
       transform-origin: right;
   }

   .jl-portfolio-list  .jl-portfolio-item-box{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2C2C2C;
        position: absolute;
        top: 0;
        left: 0;
    }

   .jl-slider-list  .jl-portfolio-item-thumb img   {
        width: 90%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: 5%;
        transform: scale(0);
   }

   .jl-portfolio-list  .jl-portfolio-item-thumb img   {
       width: 100%;
       max-width: 100%;
       height: auto;
       position: relative;
   }

    /*----PORTFOLIO----*/
    .jl-section-offset-top {
        margin-top: 130px;
    }

    

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info .jl-btn, .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info .jl-btn{
        float: none;
        margin: 0 auto;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info p, .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info p{
        text-align: center;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        width: 100%;
        margin-left: 0;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) > .row {
        flex-direction: row-reverse;
    }


    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
        display: block;
    }

    /*----SOBRE----*/

    .jl-section-sobre {
        height: calc(100% - 130px);
    }

    .jl-section-sobre .container-fluid, .jl-section-sobre .container-fluid > .row {
        height: 100%;
    }

    .jl-avatar-sobre {
        position: relative;
        height: 430px;
    }

    .jl-box-img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .jl-titulo-sobre, .jl-info-sobre, .jl-premios-sobre {
        width: 100%;
        display: table;
        float: left;
        margin-bottom: 30px;
    }

    /*----DETALHES----*/
    .jl-hero {
        background-image: url('../portfolio/manage-it/img/hero.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        display: block;
    }

    .jl-hero h1 {
        margin-bottom: 50px;
    }

    .jl-hero-inner {
        display: table;
        padding: 65px 0;
    }

    .jl-hero-inner-content {       
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: block;
        padding: 15px 25px 15px;
    }

    .jl-hero-inner-content p{
        margin-bottom: 15px;
    }

    .jl-project-stats {
        width: 100%;
        height: 100%;
        display: table;
        border-right: none;
    }

    .jl-project-description {
        width: 100%;
        height: 100%;
        display: table;
        margin-top: 30px;
    }

    .jl-post {
        width: 100%;
        display: table;
    }

    .jl-post p{
        margin-bottom: 30px;
    }

    .jl-post-section {
        width: 100%;
        display: table;
        padding: 45px 0;
    }

    .jl-pre-gallery {
        padding-bottom: 350px;
    }

    .jl-post-gallery {
        display: block;
    }

    .jl-post-gallery .container{
        position: relative;
        top: -270px;
    }

    .jl-thumb-box {
        width: auto;
        display: block;
        position: relative;
    }

    .jl-thumb-box:before {
        content: '';
        width: 100%;
        height: 100%;
        z-index: 700;
        background-color: rgba(44, 203, 105, 0.85);
        background-image: url('../images/icon-see-more.svg');
        background-repeat: no-repeat;
        background-position: center;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .jl-thumb-box:hover:before {
        display: block;
        cursor: pointer;
    }

    .jl-gallery-frame-container {
        width: 60%;
        display: none;
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1100;
    }

    .jl-gallery-frame-inner {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading {
        width: 86%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 3%;
        left: 7%;
        z-index: 1250;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading > div {
        width: 90%;
        background-color: #dedede;
        margin: 10% 0;
        border-radius: 8px;
        background-image: url('../images/skeleton-loading-blur.svg');
        background-repeat: no-repeat;
        background-position: -100% -150px;
        animation: skeletonBlur 2s infinite ease-out;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading > div:first-child, .jl-gallery-frame-inner .jl-skeleton-loading > div:last-child {
        height: 15%;
    }

    .jl-gallery-frame-inner .jl-skeleton-loading > div:nth-child(2){
        height: 60%;
    }

    .jl-gallery-frame-container .jl-items-next-prev {
        width: 150px;
        margin: 45px auto 0 auto;
    }

    .jl-close-gallery {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #000;
        border-radius: 50%;
        border: none;
        position: absolute;
        top: -15px;
        right: -45px;
        z-index: 1200;
    }

    .jl-close-gallery ion-icon {
        color: #2CCB69;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
    }

    img.jl-gallery-frame {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1300;
    }

    .jl-gallery-frame-image {
        width: 87%;
        max-width: 87%;
        margin: 0 auto;
        display: block;
        border-radius: 22px;
        z-index: 1200;
        position: relative;
        top: 14px;
    }

    /* ----- 404 ------- */

    .jl-404 h1, .jl-404 p{
        text-align: center;
    }

    .jl-404 .jl-btn {
        margin: 15px auto;
    }

    /* ----- 404 ------- */
    .jl-404 img{
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }



    /* Utilitarias */
    .jl-title-xlarge {
        font-size: 90px;
    }

    .jl-title-large {
        font-size: 36px;
        text-align: center;
    }

    .jl-full-height {
        height: auto;
        position: relative;
    }

    .jl-text-center-mob {
        text-align: center;
    }
}

@media screen and (min-width: 360px){
    .jl-gallery-frame-container {
        width: 70%;
    }
}

@media screen and (min-width: 400px){
    .jl-avatar-sobre {
       height: 500px;
    }

    .jl-box-img {
        width: 370px;
    }
}

@media screen and (min-width: 576px){

    .jl-hero-inner-content {       
        padding: 55px 65px 65px;
    }

    /* ----- 404 ------- */
    .jl-404 img{
        width: 80%;
        max-width: 80%;
    }
}

@media screen and (min-width: 700px){
    .jl-home-presentation{
        background-size: 100%;
    }
}

@media screen and (min-width: 768px){
    .jl-home-presentation{
        background-size: 80%;
    }

    .jl-title-large {
        font-size: 48px;
    }

    .jl-text-center-mob {
        text-align: left;
    }

    .jl-box-img {
        width: 350px;
    }
}

@media screen and (min-width: 992px){
    .jl-menu-mob, .jl-btn-menu-mob {
        display: none;
    }

    .jl-menu {        
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }

    .jl-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        color: #bcbcbc;
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        position: relative;
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #2CCB69;
    }

    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;   
        transform: scale(0, 1);  
        transform-origin: center left;
    }

    .jl-menu a:hover:before{
        transform: scale(1, 1);  
    }

    .jl-title-xlarge {
        font-size: 120px;
    }

    .jl-home-presentation {
        background-size: auto;
    } 

    .jl-home-presentation h1 {
        margin-top: 0;
        text-align: left;
    }

    .jl-home-presentation p {
        text-align: left;
    }

    .jl-home-presentation .jl-btn {
        margin-left: 0;
    }

    .jl-portfolio-navigator {
        width: 145px;
        height: 400px;
        left: 15px;
        top: 26vh;
    }

    .jl-slider-container {
        padding-bottom: 0;
    }

    .jl-slider-list  .jl-portfolio-item-thumb{
        padding: 30px 0 19px 0;
        margin-top: 45px;
    }

    .jl-slider-list  .jl-portfolio-item-thumb img   {
        width:  calc(100% + 45px);
        max-width: calc(100% + 45px);
        left: -75px;
    }

    .jl-slider-list .jl-portfolio-item-thumb > .jl-btn{
        margin: 17px 6.5% 0 0;
        float: right;
   }

   .jl-portfolio-list  .jl-portfolio-item {
    margin-bottom: 100px;
}

   .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info{
        text-align: right;
        margin-top: 70px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info .jl-btn{
        float: right;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info h1, .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-info p{
        text-align: right;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info{
        margin-left: 105px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info .jl-btn{
        float: left;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info h1, .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-info p{
        text-align: left;
    }

    .jl-portfolio-list  .jl-portfolio-item-thumb{
        padding: 30px 0 19px 0;
    }

    .jl-portfolio-list  .jl-portfolio-item-thumb img{
        width: calc(100% + 45px);
        max-width: calc(100% + 45px);
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
        left: 30px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb img{
        left: -75px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb .jl-btn{
        float: left;
        margin-left: 75px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb .jl-btn{
        float: right;
        margin-right: 75px;
    }

   .jl-navigator-counter span{       
        font-size: 100px;
    }
    .jl-navigator-counter:before {
       width: 30px; 
    }

    .jl-items-next-prev {
        justify-content: center;
    }

    .jl-title-large,.jl-slider-list .jl-portfolio-item-info p {
        text-align: left;
    }

    .jl-slider-list  .jl-portfolio-item {
        display: block;
        height: 500px;
        float: left;
        margin-top: calc(26vh - 75px);
    }

    .jl-slider-list  .jl-portfolio-item-info{
        width: calc(100% - 75px);
        left: -75px;
        margin-top: 73px;
    }

    .jl-slider-list .jl-portfolio-item-info .jl-btn{
        margin: 0;
     }

     .jl-project-stats {
        border-right: 1px solid #2CCB69;
     }

     .jl-project-description {
        margin-top: 0;
    }

    .jl-gallery-frame-container {
        width: 320px;
    }

    .jl-gallery-frame-image {
        top: 17px;
    }

    .jl-avatar-sobre {
        height: 100%;
    }

    .jl-titulo-sobre {
        width: 100%;        
    }
    .jl-titulo-sobre h1{
        font-size: 90px;       
    }
    .jl-info-sobre {
        width: 55%;
    }
    .jl-premios-sobre {
        width: 45%;
        padding-left: 30px;
    }
    .jl-box-img {
        width: 100%;
        display: table;
    }

     /* ----- 404 ------- */

     .jl-404 h1, .jl-404 p{
        text-align: left;
    }
    .jl-404 p{
       margin-top: 40px;
    }

    .jl-404 .jl-btn {
        margin-left: 0;
    }

    /* ----- 404 ------- */
    .jl-404 img{
        width: 100%; 
        max-width: 100%;      
    }

     /* --- UTILITARIAS --- */

     .jl-full-height {
        height: 100vh;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1024px){
    .jl-avatar-sobre {
        height: 500px;
    }
}

@media screen and (min-width: 1200px){
    .jl-modal {
        width: 800px;
    }

    .jl-field, .jl-textarea {
        margin-bottom: 15px;
    }

    .jl-title-large {
        font-size: 64px;
    }

    .jl-slider-list  .jl-portfolio-item-thumb{
        padding: 75px 0 19px 0;
        margin-top: 0;
    }

    .jl-slider-list  .jl-portfolio-item-thumb img   {
        width: 100%;
        max-width:100%;
        left: -75px;
    }

    .jl-slider-list .jl-portfolio-item-thumb > .jl-btn{
        margin-right: 75px;
   }

   .jl-portfolio-list  .jl-portfolio-item-thumb{
        padding: 75px 0 19px 0;
    }

   .jl-portfolio-list  .jl-portfolio-item-thumb img{
        width: 100%;
        max-width:100%;
    }

   .jl-portfolio-list .jl-portfolio-item:nth-child(even) .jl-portfolio-item-thumb img{
    left: 75px;
    }

    .jl-portfolio-list .jl-portfolio-item:nth-child(odd) .jl-portfolio-item-thumb img{
        left: -75px;
    }

    .jl-gallery-frame-container {
        width: 340px;
    }


   .jl-navigator-counter span{       
        font-size: 120px;
    }
    .jl-navigator-counter:before {
       width: 35px; 
    }

    .jl-titulo-sobre h1{
        font-size: 120px;       
    }
}

@media screen and (min-width: 1364px){

    .jl-info-sobre {
        width: 48%;
    }
    .jl-premios-sobre {
        width: 37%;
    }
    
}

@media screen and (min-width: 1500px){

    .jl-info-sobre {
        width: 43%;
    }
    .jl-premios-sobre {
        width: 31%;
    }
    
}

@media screen and (min-width: 1600px){
    .jl-gallery-frame-container {
        width: 400px;
    }
}

@media screen and (min-width: 1500px){

    .jl-info-sobre {
        width: 35%;
    }
    .jl-premios-sobre {
        width: 31%;
    }
    
}

/* BOTÕES */

.jl-btn {
    display: table; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;
    position: relative;
    text-decoration: none;
}

.jl-btn ion-icon {
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: -3px;
}

.jl-btn-block {
    display: block;
    width: 100%;
}

.jl-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;
}

.jl-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 19px;
    font-size: 14px;
}

.jl-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}

.jl-btn-green {
    background-color: #2CCB69;
    color: #1C1C1C;
}

.jl-btn-green:hover {
    background-color: rgb(6, 135, 55);
    color: #fff;
}

.jl-btn-dark {
    background-color: #151515;
    color: #2CCB69;
}

.jl-btn-dark:hover {
    background-color: #2f2f2f;
    color: #fff;
}

/* CLASSES UTILITARIAS */

.jl-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.jl-subtitle {
    font-family: 'Open Sans', serif;
    font-weight: 800;
}

.jl-title-medium {
    font-size: 48px;
}

.jl-text-green {
    color: #2CCB69;
}

.jl-text-dark {
    color: #4D4C4C;
}

.jl-text-light {
    color: #bcbcbc;
}

.jl-text-black {
    color: #000;
}

.jl-text-center {
    text-align: center;
}

.jl-bg-green {
    background-color: #2CCB69;
}

.jl-bg-dark {
    background-color: #4D4C4C;
}

.jl-bg-light {
    background-color: #bcbcbc;
}

.jl-bg-black {
    background-color: #000;
}

.jl-mar-15 {
    margin: 15px;
}
.jl-mar-top-15 {
    margin-top: 15px;
}
.jl-mar-right-15 {
    margin-right: 15px;
}
.jl-mar-bottom-15 {
    margin-bottom: 15px;
}
.jl-mar-left-15 {
    margin-left: 15px;
}

.jl-pad-15 {
    padding: 15px;
}
.jl-pad-top-15 {
    padding-top: 15px;
}
.jl-pad-right-15 {
    padding-right: 15px;
}
.jl-pad-bottom-15 {
    padding-bottom: 15px;
}
.jl-pad-left-15 {
    padding-left: 15px;
}


.jl-mar-30 {
    margin: 30px;
}
.jl-mar-top-30 {
    margin-top: 30px;
}
.jl-mar-right-30 {
    margin-right: 30px;
}
.jl-mar-bottom-30 {
    margin-bottom: 30px;
}
.jl-mar-left-30 {
    margin-left: 30px;
}

.jl-pad-30 {
    padding: 30px;
}
.jl-pad-top-30 {
    padding-top: 30px;
}
.jl-pad-right-30 {
    padding-right: 30px;
}
.jl-pad-bottom-30 {
    padding-bottom: 30px;
}
.jl-pad-left-30 {
    padding-left: 30px;
}

.jl-first-section {
    height: calc(100vh - 30px);
}

.jl-no-padding {
    padding: 0 !important;
}

.jl-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.jl-page-list {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.jl-page-list > li {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.jl-page-list > li:before{
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #2CCB69;
}


/* CLASSES COMPORTAMENTO */

.jl-is-open {
    display: block;
}

.jl-slide-top-in {
    animation: slideTopIn 0.6s forwards cubic-bezier(0,1.11,.6,.89);
}

.jl-change-icon {
    background-position-y: -45px;
}

.jl-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

.jl-fade-from-left{
    animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-right {
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-scale-up {
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0,1.01,.32,1);
}

.jl-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jl-no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}

.blue {
    background: blue;
}

/* PLUGINS OVERWRITE */
[data-aos=flip-left] {
    transform: perspective(2500px) rotateY(-90deg);
}